
/*
Color scheme:
Main Red: F5525D
Alt Red: A63A44
Blue: B7E4F2
Green: 6F9940
White: F9F2F0
*/
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("/react-test/src/img/Pizza-Pattern-Vector.jpg");
  background-color: #B7E4F2;
}
button {
  background-color: #6F9940;
  border: none;
  color: white;
}
ul {
  list-style-type: none;
  margin: 2vw;
  padding: 1vw;
  width: 100%;
  background-color: #F5525D; 
  position: fixed;
  overflow: hidden;
}
li a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 1px;
  border-color: #A63A44;
  padding: 1vw;
}
li a:hover {
  background-color: #A63A44;
  text-decoration: underline;
}
.sign_up_form {
  margin: 3vw; 
}
.main_div {
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: #B7E4F2;
  box-shadow: 5px 5px 5px;
  height:80vh;
  width: 100vw;
}
.banner {
  background-color: #F5525D;
  padding-top: 6vw;
  color: #F9F2F0;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  font-size: 48px;
}
.sub_banner {
  font-size: 20px;
}
.custom-control-label {
  margin: 2vh;
}
.search_btn {
  height: 15vh;
  width: 30vw;
  color: white;
  margin-left: 5vw;
  margin-right: 20vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: #6F9940;
  border: none;
  border-radius: 10px;
}
.zip_box {
  width: 40vw;
  border-radius: 5px;
  border: 1px solid #F5525D;
}
.result {
  margin-top: 5%;
  margin-bottom: 3vh;
  border: none;
  display: none;
}
.result-group div:hover {
  background-color: #F9F2F0;
}
.result-group {
  margin: 2vw;
  box-shadow: 5px 0px 5px; 
  border:2px;
  border-color: #A63A44;
  background-color: #B7E4F2;
  color: #A63A44; 
}
.pizza-desc {
 margin-left: 10vw;
}
.pizza-icon {
  height: 5vh;
  width: 2.5vw;
  position: relative;
  margin: 0.5vw; 
}
.price-lbl {
  margin-left: 5vw;
}
.order-btn {
  height: 10vh;
  width: 10vw;
  margin-left: 5vw;
  margin-bottom: 2vh;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  border-radius: 10px;
}

